<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Album</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of albums">
            <th scope="row"> {{album.id}} </th>
            <td>{{album.userId}} </td>
            <td>{{album.title}} </td>
            <!-- <td>
                <button class="btn btn-success" type="button" (click)="goPostsUser(user.id)">
                    <i class="bi bi-eye"></i>
                </button>
            </td> -->

        </tr>
    </tbody>
</table>