<div style="overflow-x:auto;">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Telefono</th>
        <th scope="col">Empresa</th>
        <th scope="col">Acción</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData">
        <th scope="row"> {{user.id}} </th>
        <td>{{user.name}} </td>
        <td>{{user.email}} </td>
        <td>{{user.city}} </td>
        <td>{{user.phone}} </td>
        <td>{{user.company}} </td>
        <td>
          <button class="btn btn-success" type="button" (click)="goPostsUser(user.id)">
            <i class="bi bi-eye"></i>
          </button>
        </td>

      </tr>
    </tbody>
  </table>


</div>