<footer>
    <div class="footer bg-primary">

        <div class="row">

            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <a href="https://github.com/jonathanvargas2016/TestApp" target="_blank" style="color: #fff;">
                    <h5>Ver proyecto en Github</h5>
                </a>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <p class="autor">
                    &copy; {{anio}} Jonathan Vargas
                    <a href="mailto:jonathan.1996mds@gmail.com">jonathan.1996mds@gmail.com</a>
                </p>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <h6>Sigueme en:</h6>
                <div class="social-networks">
                    <a href="https://github.com/jonathanvargas2016" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jonathan-vargas28/" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://twitter.com/JonaSVargasN" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>
</footer>