.caja {
    border: 1px solid rgb(70, 69, 69);
    background-color: #fff;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    line-height: 200px;
    text-align: center;
    margin: 5px;

}

.flex-container {
    display: flex;
    border: 1px solid #000;
    background: #ccc;
    padding: 20px;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    /* width: 100%; */
    height: 600px;
    align-content: center;

}

.c1 {
    background-color: red;
    order: 3;
    flex-grow: 5;
    flex-basis: 50%;
}

.c2 {
    background-color: green;
    order: 1;
    flex-grow: 2;
}

.c3 {
    background-color: aqua;
    order: 2;
    flex-grow: 1;
}


/*
    flex-wrap: wrap; wrap: que lo acomode en varias lineas  .
    flex-flow: row wrap. combina el flex-direcction y el flex-wrap
    si la caja no tiene una altura tomara el 100% de la altura del flex container. Es recomendable usar 
        la propiedad align-items

    La propiedad ORDER permite ordenar el elemento como yo quiera. Debe estar dentro del flex-container
    flex-grow. para el elemento hijo. Sirve para darle prioridad en cuanto al ancho. Mayor prioridad se expande el elemento.
    flex-basis. para el elemento hijo. Es lo mismo que poner un width
    */